h1, h2 {
  font-family: Lato;
}

.metadato{
  font-family: "Courier New";
  border-style: dotted;
  background-color:POWDERBLUE;
  margin-left: 60px;
  margin-right: 60px;
}
#infogram{
  width: 45%;
  height: 300px;
}